body {
  width: 1024px;
  margin: auto;
}

form {
  width: 1000px;
  padding: 10px 10px;
  border: double;
  margin: auto;
}

td, th {
  padding: 2px 5px;
  border: 1px solid #cccccc;
  vertical-align: top;
}

th {
  font-size: 105%;
  font-weight: normal;
}

hr {
  width: 95%;
  margin: 2px 20px 15px 20px;
}

.math {
  font-family: Times, "Times New Roman", serif;
  font-size: larger;
}

.code {
  font-family: Courier, "Courier New", Monospace;
  font-weight: bold;
}

option {
  /*background-color: red;*/
  padding: 3pt;
}

.largebtn {
  font-family: Georgia, serif;
  font-size: 140%;
  font-weight: bold;
  line-height: 240%;
  padding: 0px 50px;
}

.center {
  text-align: center;
}

textarea {
  width: 96%;
  margin: 5px;
  padding: 2px 10px;
  color: #202055;
  background-color: #ffffdd;
  font-family: "Lucida Console", Courier, "Courier New", Monospace;
  font-weight: bold;
}

.plot {
  margin: 20px 10px;
}

.fig {
  border: 3px outset #808080;
  margin: 5px;
}

.figwrap {
  text-align: center;
  padding: 20px 0px;
}
